*{


}

#hero{
    display: flex;
    justify-content: space-around;
    img{
        width: 50%;
    }
}

#description{
    display: flex;
    justify-content: center;
}

#pictogramme{
    display: flex;
    justify-content: space-between;

}

.card{
    display: flex;
    
}